.table {
  border-collapse: separate !important;
  border-spacing: 0 15px;

  --row-border-radius: 10px;
}

.cell {
  /* border: 1px solid black; */
  padding: 0 20px;
  min-width: 220px;
  margin: 0;
  /* background-color: red; */
}


.headDiv {
  background-color: #3A33BB;
  border-radius: 10px;
  line-height: normal;
  
  padding: 8px 30px;
}

.td {
  padding: 13px 20px;
  line-height: normal;

  border: 1px solid #D9D9D9;
  
  transition: border-color 0.2s;
}

/* *Format Cell Content */
.tdContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;
  text-align: left;
}

td:first-child .tdContainer {
  justify-content: flex-start;
}

/* td:last-child .tdContainer {
  justify-content: flex-end;
} */
/* *Format Cell Content */

.body tr {
  background-color: #D9D9D9;
  color: black;
  
  /* margin: 10px; */
  transition: background-color 0.2s, transform 0.05s;
}

/* *Interactive Table Rows */
.body tr.action:hover {
  cursor: pointer;
  
  background-color: #C4C4C4;
  transform: scale(1.02);
}

.body tr.action:hover td {
  border: 1px solid #C4C4C4;
}
/* *Interactive Table Rows */

.body tr td:first-child {
  border-radius: var(--row-border-radius) 0 0 var(--row-border-radius);
}

.body tr td:last-child {
  border-radius: 0 var(--row-border-radius) var(--row-border-radius) 0;
}