.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.centered-div {
  background-color: #282471;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
