body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #000;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url('../public/image.jpg'); /* Ruta de la imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 2.5rem;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra al texto */
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #33072c !important;; /* Púrpura oscuro */
  color: #ffffff; /* Texto blanco */
  font-weight: bold!important;; /* Negrita */
  border-radius: 200px!important;; /* Bordes redondeados */
  border: none !important;; /* Sin borde */
  padding: 5px 40px!important;; /* Ajusta el relleno */
  font-size: 1.5rem!important;; /* Tamaño de la fuente */
  text-transform: uppercase !important; /* Texto en mayúsculas (opcional) */
  
}

.btn-primary:hover {
  background-color: #22031e!important;; /* Un tono más oscuro al hacer hover */
  color: #ffffff!important;; /* Asegúrate de que el texto siga siendo blanco */
  text-decoration: none!important; /* Sin subrayado */
  
}

.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #6c63ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  z-index: 1000;
}

.chatbot-icon:hover {
  background-color: #5a54e3;
  transform: scale(1.1); /* Efecto de hover */
}


.btn-link {
  text-decoration: none !important; /* Asegura que se aplique */
  font-size: 1.2rem !important;
  margin-top: -20px !important; /* Ajusta este valor para subir el botón */
  color: #ffffff !important; /* Color del texto */
  background-color: transparent !important; /* Asegura que no tenga fondo */
  border: none !important; /* Elimina los bordes si los hay */
  cursor: pointer !important; /* Cambia el cursor al de un botón */
}


.content {
  text-align: left;
  width: 60%; /* Ajusta este valor según lo necesario */
  margin: 20 auto; /* Centra el contenedor horizontalmente */
}

.display-4 {
  margin-bottom: 150px; /* Espacio entre el título y el botón */
}

.btn-primary {
  margin-right: -10000;
  margin-top: -400px;
}



